form {
	width: 400px;
	margin: 0 auto;
}

.control-container {
	height: 60px;

	.input-group-error {
		border: 1px solid red;
	}

	span {
		color: red;
	}
}

.button-panel {
	display: flex;

	margin-top: 1rem;
}

h1 {
	text-align: center;
}

.cancel-button {
	margin-left: 1rem;
}

.register-link {
	margin-top: 1rem;
}
