[nz-form] {
	&.user-form {
		margin: 0 auto;
		
		button {
			width: 100%;
		}
	}
	width: 400px;
}

nz-form-item {
	display: block;
}

h1 {
	text-align: center;
}

.cancel-button {
	margin-left: 1rem;
}
