<article nz-typography>
    <h1 nz-typography>О приложении</h1>
    <p nz-typography>
        Приложение "менеджер паролей" позволяет вам хранить ваши пароли от различных ресурсов в одной таблице.
        Теперь вам не нужно их запоминать или записывать и по несколько раз восстанавливать,
        приложение будет их хранить на вашем компьютере в удобном виде
    </p>
    <p nz-typography>
        Приложение является десктопным, никто и никогда не взломает его и не увидит ваши пароли, так как все они хранятся на вашем компьютере,
        так же оно никак не взаимодействует со сторонними ресурсами.
    </p>
    <h2 nz-typography>Ресурсы</h2>
    <p nz-typography>
        Это open source проект, код которого вы можете увидеть здесь (скопируйте ссылку и откройте в своём браузере):
    </p>
    <div nz-typography>
        <ul>
            <li>
                <b>Frontend: </b>https://github.com/hersir1/password-manager
            </li>
            <li>
                <b>Backend: </b>https://github.com/hersir1/password-manager-server
            </li>
        </ul>
    </div>
    <h2 nz-typography>
        Помощь с проектом
    </h2>
    <ul style="list-style: auto">
        <li>
            <p nz-typography>
                Если вы хотите поучавствовать в улучшении проекта (придумать интересный дизайн, дополнить функционал)
                - кликайте <a href="mailto:jobjs@mail.ru?subject=Предложение по проекту">сюда</a>
            </p>
            <p nz-typography>Одобренные идеи будут внедрены в проект и вы будете указаны как автор фичи</p>
        </li>
        <li>
            <p nz-typography>
                Заметили ошибку в программе - кликайте <a href="mailto:jobjs@mail.ru?subject=Ошибка в программе">сюда</a>
            </p>
        </li>
        <li>
            <p nz-typography>
                Если среди вас есть программисты javascript, работающие с electronjs, angular и nestjs, готовые помочь с проектом -
                кликайте <a href="mailto:jobjs@mail.ru?subject=Помощь по проекту">сюда</a>
            </p>
            <p nz-typography>
                На данном этапе у меня две проблемы:
            </p>
            <div nz-typography>
                <ul style="list-style: square">
                    <li>
                        Не отправляются email с nestjs
                    </li>
                    <li>
                        Автообновление electronjs не реализовано (приложение сейчас обновляется вручную по инструкции)
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <!--<h2 nz-typography>
        Донатики:)
    </h2>
    <p nz-typography>
        Если вы хотите сказать "спасибо" материально -
    </p>-->
</article>