nz-layout {
	min-height: 100%;
}

.trigger {
	font-size: 18px;
	line-height: 64px;
	padding: 0 24px;
	cursor: pointer;
	transition: color 0.3s;
}

.trigger:hover {
	color: #1890ff;
}

.logo {
	height: 32px;
	margin: 1rem 1rem 1rem 1.5rem;
	color: white;
}

nz-header {
	background: #fff;
	padding: 0;
	margin: 0 15px;
}

nz-content {
	margin: 10px 16px 0 16px;
}

.inner-content {
	padding: 24px;
	background: #fff;
	overflow-y: auto;
	height: 100%;
}

nz-footer {
	text-align: center;
}

.header {
	background: aliceblue;
	display: flex;
	justify-content: space-between;

	i {
		margin-top: 3px;
	}

	div:last-child {
		margin-right: 1rem;

		button {
			border: none;
			box-shadow: none;
			background: inherit;
		}
	}
}
