#passwordModal {
	text-align: center;
}

.timer {
	color: red;
	font-weight: bold;

	margin-top: 1rem;
}

.password {
	border: 2px solid green;
	border-radius: 11px;
	padding: 1rem;
	font-size: 30px;
	background: aquamarine;
}